{% extends "base.jinja" %}

{% block main %}
  <section id="products" class="panel panel-default">
    <header class="panel-heading">
      <h1 class="panel-title">Productos</h1>
    </header>
    <div class="panel-body">
      {% for producto in productos %}
      <article class="product col-xs-6 col-md-3 text-center">
        <img src="" alt="">
        <div class="caption">
          <h3 class="product-name">{{producto.nombre}}</h3>
          <p class="product-description">{{producto.descripcion}}</p>
          <span class="product-price">$ {{producto.precio}}</span>
        </div>
        <a class="btn btn-primary add-to-cart"
          href="{{url_for('buy_product', _id=producto.producto_id)}}"">Comprar</a>
      </article>
      {% endfor %}
    </div>
  </section>
{% endblock main %}
